*{
    font-family: 'Roboto', sans-serif;
}

.navbar{
    background-color: #5054ed !important;
}

.btn-outline-success{
    background-color: white !important;
    border: 1px solid black !important;
    border-radius: 50px 50px !important;
    margin-left: 1200px;
    color:black !important;
}

.containerStudent{
    display: flex;
    background-color: #f2f2f2;
    width: 100%;
    height: 100vh;
    align-content: center;
    justify-content: space-evenly;
     
    
}

.btnIniStdt1{
    background-color: white !important;
    border: 1px solid black !important;
    border-radius: 5px !important;
    color:black !important;
    width: 150px;
    height: 50px;
    margin-top: 60px;

}

.btnIniStdt2{
    background-color: white !important;
    border: 1px solid black !important;
    border-radius: 5px !important;
    color:black !important;
    width: 150px;
    height: 50px;
    margin-top: 60px;
 
}

